<%- include("header") %>


    <div id="content" class="main-content">


        <% if(status == 2){%>

            <div class="card component-card_1 mt-5">
                <div class="card-body">
                    <div class="icon-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                    </div>
                    <h5 class="card-title">Opps!</h5>
                    <p class="card-text">There is no active game session To start new game click start Game!</p>
                    <button class="btn btn-success mb-2 mt-5" onclick="gameStart()">Start Game</button>

                </div>
            </div>


            <%}else{%>
                <style>
                    .box {
                        background-color: #191e3abf;
                        color: #fff;
                        border-radius: 30px;
                        padding: 20px;
                        font-size: 110%;
                    }
                    
                    .bets {
                        /* position: absolute; */
                        padding-left: 62%;
                        margin-top: -38px;
                        font-size: 77%;
                        margin-bottom: 21%;
                    }
                    
                    .points {
                        /* position: absolute; */
                        font-size: 80%;
                        padding-top: 10%;
                    }
                    
                    .box:nth-child(2n) {
                        background-color: #191e3abf;
                        color: #fff;
                    }
                    
                    .wrapper {
                        overflow-x: auto;
                        /* width: 600px; */
                        display: grid;
                        grid-gap: 10px;
                        grid-template-columns: repeat(10, 100px);
                    }
                </style>
                <div id="buttonsIcons" class="col-lg-12 layout-spacing" style="margin-top: 1%;">

                    <div class="widget-content widget-content-area text-center" style="margin-top: 3%;margin-bottom: 3%;">
                        <h4>Current Game Details</h4>
                        <div class="row">
                            <div class="col-md-6 mt-5 col-sm-6">
                                <div class="user-profile user-info">
                                    <div class="text-left ">
                                        <img src="/assets/img/profile-3.jpg" alt="avatar">
                                        <p class="">

                                        </p>
                                    </div>
                                    <div class="games">
                                        <p class="gameTitle" style="color:#5c1ac3;">Game ID :
                                            <%= data.game_id%>
                                        </p>
                                        <p class="" style="color:#e2a03f">Date : <span class="badge outline-badge-warning"> <%=Gdate%></span> </p>

                                        <p>Status : <span id="statusText" class="badge badge-dark"> Ongoing </span></p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Game action</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6" id="gameaction">
                                        </div>
                                        <div class="col-md-6 formc">


                                            <p>Enter Lucky Number...</p>
                                            <label for="tel-text" class="sr-only"></label>
                                            <input id="betNumber" type="number" name="betNumber" placeholder="1-100" class="form-control" required="">
                                            <button class="btn btn-secondary mt-4" onclick="gameEnd()" type="submit">Spin!</button>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>


                </div>

                <div class="statbox widget box box-shadow">


                    <div class="wrapper">
                        <% numbers.map( number => {%>
                            <div class="box">
                                <%=number.number%>
                                    <div class="bets">

                                        <span data-toggle="tooltip" data-placement="top" title="Number of bets" class="badge badge-info"><%=number.bets%></span>
                                    </div>
                                    <div class="points">

                                        <span data-toggle="tooltip" data-placement="top" title="Total Coins" class="badge badge-warning"><%=number.total%></span>
                                    </div>

                            </div>
                            <%})%>

                    </div>

                </div>



                <div class="statbox widget box box-shadow mt-4">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Current Game Details</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <table id="style-3" class="table style-3  table-hover">
                                <thead>
                                    <tr class="checkbox-column text-center">
                                        <th>Number</th>
                                        <th>Total Bets</th>
                                        <th>Coins</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% numbers.map( number => {%>
                                        <tr class="checkbox-column text-center">

                                            <td>
                                                <%=number.number%>

                                            </td>
                                            <td>
                                                <%=number.bets%>
                                            </td>
                                            <td>
                                                <%=number.total%>
                                            </td>



                                        </tr>

                                        <%})%>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <%}%>
    </div>







    <script src="/assets/axios.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> -->
    <script>
        function gameStart() {
            axios.get('http://3.6.130.3/admin/startGame').then(
                (response) => {
                    var result = response.data;
                    location.reload();
                },
                (error) => {
                    console.log(error);
                }
            );

        }

        function gameEnd() {
            let betnumber = document.getElementById("betNumber").value;

            if (!betnumber || betnumber > 100 || betnumber < 0) {

                swal({
                    title: 'The Internet?',
                    text: "enter a valid number ?",
                    type: 'question',
                    padding: '2em'
                })
            } else {
                axios.post('http://3.6.130.3/admin/endGame', {
                    'winner_number': betnumber
                }).then(
                    (response) => {

                        swal({
                            title: 'Game is ended',
                            text: "Winners selected!",
                            type: 'success',
                            padding: '2em'
                        });
                        var result = response.data;

                        setTimeout(location.replace(`http://3.6.130.3/admin/gameDetails/${result.id}`), 5000);

                        // console.log(result);


                    },
                    (error) => {
                        console.log(error);
                    }
                );



            }



        }

        function gamePause() {
            axios.get('http://3.6.130.3/admin/pauseGame').then(
                (response) => {
                    var result = response.data;
                    document.getElementById("statusText").innerHTML = 'Paused';

                    document.getElementById("gameaction").innerHTML = '<button class="btn btn-success mb-2 mt-5" onclick="gameResume()">Resume Game</button>';

                    // console.log(result.details[0].name);
                },
                (error) => {
                    console.log(error);
                }
            );

        }

        function gameResume() {
            axios.get('http://3.6.130.3/admin/resumeGame').then(
                (response) => {
                    var result = response.data;
                    document.getElementById("statusText").innerHTML = 'Ongoing';

                    document.getElementById("gameaction").innerHTML = '<button class="btn btn-warning mb-2 mt-5" onclick="gamePause()">Pause Game</button>';

                    // console.log(result.details[0].name);
                },
                (error) => {
                    console.log(error);
                }
            );

        }


        function gameAction(path) {
            axios.get(path).then(
                (response) => {
                    var result = response.data;
                    if (result.status == 0) {
                        document.getElementById("statusText").innerHTML = 'Ongoing';

                        document.getElementById("gameaction").innerHTML = '<button class="btn btn-warning mb-2 mt-5" onclick="gamePause()">Pause Game</button>';
                    } else if (result.status == 1) {
                        document.getElementById("statusText").innerHTML = 'Paused';

                        document.getElementById("gameaction").innerHTML = '<button class="btn btn-success mb-2 mt-5" onclick="gameResume()">Resume Game</button>';

                    }

                    // console.log(result.details[0].name);
                },
                (error) => {
                    console.log(error);
                }
            );
        }
        gameAction('http://3.6.130.3/admin/getGameStatus');
    </script>
    <%- include("footer") %>