<%- include("header") %>
    <style>
        .customp {
            position: absolute;
            padding-left: 17%;
            margin-top: -21%;
        }
        
        @media (max-width: 768px) {
            .customp {
                font-size: 12px !important;
                position: absolute;
                padding-left: 34%;
                margin-top: -53%;
            }
            .pfo {
                font-size: 12px !important;
            }
        }
    </style>
    <div id="content" class="main-content">

        <div class="user-profile ml-2 mr-2 layout-top-spacing">
            <div class="widget-content widget-content-area">

                <div class="user-profile user-info col-md-12 col-sm-12">
                    <div class="text-left ">
                        <img src="/assets/img/profile-3.jpg" alt="avatar">
                        <p class="">
                            <%=data.name%>
                        </p>
                    </div>
                    <div class="customp">
                        <p class="" style="color:#5c1ac3">Phone No :
                            <%= data.username%>
                        </p>
                        <%
                        let totalCreditedPoints = 0;
                        let totalDebitedPoints = 0;

                        data1.map((data)=>{
                            if (data.status=='CREDITED') {
                                totalCreditedPoints = totalCreditedPoints + data.points;
                                
                            }else{
                                totalDebitedPoints = totalDebitedPoints + data.points;

                            }
                        });%>
                            <p class="pfo" style="color:#e2a03f">Total Credited Points : <span class="badge outline-badge-warning"><%= totalCreditedPoints%></span> </p>
                            <p class="pfo" style="color:#e7515a">Total Debited Points : <span class="badge outline-badge-danger"><%= totalDebitedPoints %></span> </p>

                    </div>

                </div>

            </div>
        </div>
        <div class="user-profile ml-2 mr-2 layout-top-spacing">
            <div class="widget-content widget-content-area">
                <h4 class="mb-2 mt-2">Cashier Transaction</h4>

                <div class="table-responsive mb-4">
                    <table id="style-3" class="table style-3  table-hover">
                        <thead>
                            <tr class="checkbox-column text-center">
                                <th class=" text-center">Date</th>
                                <th>User No</th>
                                <th> Transaction</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%data1.map((data)=>{ %>
                                <tr class="checkbox-column text-center">
                                    <td class=" text-center">
                                        <%=data.date%>
                                    </td>
                                    <td>

                                        <%= data.username%>

                                    </td>
                                    <td>
                                        <% if(data.status=='CREDITED'){%>
                                            <span style="background-color:#8dbf42" class="badge badge-success"><%=data.status%></span>
                                            <%}else{%>
                                                <span style="
                                color: #fff;
                                background-color: #e2a03f;
                                border: 0px;
                            " class="badge badge-warning"><%=data.status%></span>
                                                <%}%>
                                    </td>
                                    <td>

                                        <%= data.points%>

                                    </td>


                                </tr>

                                <% })%>




                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <%- include("footer") %>