<%- include("header") %>
    <div id="content" class="main-content">

        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <div class="col-lg-12">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Game History</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive mb-4">
                                <table id="style-3" class="table style-3  table-hover">
                                    <thead>
                                        <tr class="checkbox-column text-center">
                                            <th class="checkbox-column text-center">Game ID</th>
                                            <th> Date </th>
                                            <th>Status</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.map((game)=>{ %>

                                            <tr class="checkbox-column text-center">
                                                <td class="checkbox-column text-center">
                                                    <a href="/admin/gameDetails/<%= game.game_id%>">
                                                        <%= game.game_id %>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/gameDetails/<%= game.game_id%>">
                                                        <%= game.date %>
                                                    </a>

                                                </td>
                                                <td>
                                                    <a href="/admin/gameDetails/<%= game.game_id%>">
                                                        <% if(game.status == 0) {%>
                                                            <span class="shadow-none badge badge-primary">Ongoing</span>
                                                            <%}else if(userD.status == 1) {%>
                                                                <span class="shadow-none badge badge-warning">Paused</span>
                                                                <%  }else{ %>
                                                                    <span class="shadow-none badge badge-danger">Closed</span>
                                                                    <% }%>
                                                    </a>

                                                </td>


                                            </tr>
                                            </a>
                                            <% });%>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>