<%- include("header1") %>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <!-- Latest Activities Area Start -->
    <section class="activities">
        <img class="shape shape1" src="/user/assets/images/people/shape1.png" alt="">
        <img class="shape shape2" src="/user/assets/images/people/shape2.png" alt="">
        <img class="shape shape3" src="/user/assets/images/people/shape3.png" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">

                        <h2 class="title">
                            My history
                        </h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-menu-area">
                        <ul class="nav nav-lend mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-all-bets-tab" data-toggle="pill" href="#pills-all-bets" role="tab" aria-controls="pills-all-bets" aria-selected="true">Current Game bets</a>
                            </li>


                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-all-bets" role="tabpanel" aria-labelledby="pills-all-bets-tab">
                            <div class="responsive-table">
                                <table id="example" class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Slot</th>
                                            <th scope="col">Coins</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%data.map((e)=>{ %>
                                            <tr>
                                                <td>
                                                    <%=e.date%>
                                                </td>
                                                <td>
                                                    <%=e.slot%>

                                                </td>
                                                <td style="color: white;">
                                                    <p style="font-size:2vw;">
                                                        <%=e.points%> <img src="/user/assets/images/coin.png" alt=""></p>
                                                </td>
                                                <td style="color: #42ff52;">
                                                    <%=e.status%>
                                                </td>
                                            </tr>
                                            <%});%>
                                                <%data1.map((e)=>{ %>
                                                    <tr>
                                                        <td>
                                                            <%=e.date%>
                                                        </td>
                                                        <td>
                                                            <%=e.slot%>

                                                        </td>
                                                        <td style="color: white;">
                                                            <p style="font-size:2vw;">

                                                                <%=e.points%> <img src="/user/assets/images/coin.png" alt=""></p>
                                                        </td>
                                                        <td style="color: #f04e4e;">
                                                            <%=e.status%>
                                                        </td>
                                                    </tr>
                                                    <%});%>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Latest Activities Area End -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $.noConflict();

            $('#example').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>

    <%- include("footer1") %>