<%- include("header1") %>

    <div id="table">
        <header>
            <img src="/user2/assets/Gametime2.svg" id="myhistory">
        </header>

        <br><br><br><br>

        <main class="table-grid">

            <table class="rosyBrownTable" id="example">
                <thead>
                    <tr>
                        <th>Game No</th>
                        <th>Date</th>
                        <th>Slot</th>
                        <th>Amount Spent</th>
                        <th>Amount Earned</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Game No</th>
                        <th>Date</th>
                        <th>Slot</th>
                        <th>Amount Spent</th>
                        <th>Amount Earned</th>
                    </tr>
                </tfoot>
                <tbody>
                    <%data.map((game)=>{ %>

                    <tr style="background: transparent !important;">
                        <td id="" style="background: transparent !important;">
                            <%= game.game_id%>
                        </td>
                      
                        <td>
                            <%= game.date%>

                        </td>
                        <td>
                        <%= game.slot%>

                        </td>
                        <td>
                        <%= game.spent%>

                        </td>
                        <td>
                        <%= game.earned%>

                        </td>
                    </tr>
                    <% });%>

                </tbody>

            </table>
        </main>
    </div>
    </div>

    <script src="/user2/app.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "pagingType": "full_numbers",
                "order": [[ 1, "asc" ]]
            });
        });
    </script>
    <%- include("footer1") %>