<%- include("header1") %>
<style>
 .kp {
    overflow-x: hidden;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
.kp::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.kp {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>
<!-- <script>
     toastr.warning("auwehh");
</script> -->
    <center>
        <div class="" style="text-align: centre">
            <div class="wheellayout">
                <div class="cell">
                    <div class="plate" id="plate">
                        <ul class="inner">
                            <li class="number"><label><input type="radio" name="pit" value="22" /><span class="pit">9</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="18" /><span class="pit">8</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="29" /><span class="pit">7</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="7" /><span class="pit">6</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="28" /><span class="pit">5</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="12" /><span class="pit">4</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="35" /><span class="pit">3</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="3" /><span class="pit">2</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="26" /><span class="pit">1</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="0" /><span class="pit" >0</span></label></li>
                        </ul>
                        <div class="data">
                            <div class="data-inner">
                                <div class="mask"></div>
                                <div class="result">
                                    <div id="result1" class="result-number">00</div>
                                    <div id="result-color">red</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="cell">
                    <div class="plate" id="plate2">
                        <ul class="inner">
                            <li class="number"><label><input type="radio" name="pit" value="22" /><span class="pit">9</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="18" /><span class="pit">8</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="29" /><span class="pit">7</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="7" /><span class="pit">6</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="28" /><span class="pit">5</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="12" /><span class="pit">4</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="35" /><span class="pit">3</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="3" /><span class="pit">2</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="26" /><span class="pit">1</span></label></li>
                            <li class="number"><label><input type="radio" name="pit" value="0" /><span class="pit" >0</span></label></li>
                        </ul>
                        <div class="data">
                            <div class="data-inner">
                                <div class="mask"></div>
                                <div id="result-2" class="result">
                                    <div id="result2" class="result-number">00</div>
                                    <div id="result-color2">red</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>

    <script src="/wheel.js"></script>

    <div>
       
            <div class="form" id="Bet">
                <div class="input-box">
                    <input type="number" name="number" id="lucky-number" placeholder="Lucky Number?" min=1 max=100 required>
                </div>
                
                <div class="input-box">
                    <input type="number" name="amount" id="coins" placeholder="Enter coins" required>
                </div>
                <div class="submit">
                    <button onclick="bet()" type="submit" id="placeBet">Place Bet</button>
                </div>

      
        <div id="my-bets-title">
            <div>
                <h3>MY BETS</h3>
            </div>
        </div>
        <div class="kp horizontal-scroll-wrapper  rectangles">
            <%if(status===0){
                sum.map((bets)=>{%>

            <div> <%=bets.points%>/<%=bets.number%><img id="coins-img" src=" /user2/assets/money.svg" alt="credits"> </div>
            <% })%>
        </div>
        <%}else{%>
            <div>
                <h3>No bets placed</h3>
            </div>
            <%}%>
        
        <div>
        </div>

        </div>
         <script>
            function bet() {
                let checkError = [];
                var number = parseInt(document.getElementById("lucky-number").value);
                var points = parseInt(document.getElementById("coins").value);
                if (!points||points <=0 || !number || number <= 0 || number > 100) {
                   
                    if (number <= 0 || number > 100) {
                        let message = "please enter a valid bet number";
                    toastr.warning(message);
                    } else {
                        let message = "please enter the valid  coins";
                    toastr.warning(message);
                    }
                } else {          
                        axios.post(`<%=domain%>/user/makeBet`, {
                            'points': points,
                            'number': number
                        }).then(
                            (response) => {
                                console.log(response.data);
                                let reStatus = response.data;
                                if (parseInt(reStatus.code) < 400) {
                    toastr.warning(reStatus.name);            
                                } else if (parseInt(reStatus.code) >= 400) {                                   
                    toastr.warning(reStatus.name);
                                    checkError.push(reStatus.name);                                    
                                }else if (parseInt(reStatus.affectedRows) === 1) {
                                    toastr.success("Bet placed successfully!");
                                    setTimeout(function(){location.reload()}, 5000);                                    
                                }

                            },
                            (error) => {
                                console.log(error);
                                checkError.push(error.data.code);
                            }
                        );
                       
                
                    }
            }
        </script>
        <script src="/assets/axios.js"></script>
        <%- include("footer1") %>