<%- include("header1") %>

<!-- <script>
     toastr.warning("auwehh");
</script> -->
    <center>
        <div class="" style="text-align: centre">
            <div class="wheellayout">
                <div class="cell">
                    <img class="roul d1 rotate" src="/user2/img/3-min.png" alt="">

                  
                </div>
                <br><br><br>
                <div class="cell">
                    <img class="roul d2 rotate" src="/user2/img/3-min.png" alt="">

                
                </div>
            </div>
        </div>
    </center>

    <script src="/wheel.js"></script>

    <div>
       
            <div class="form" id="Bet">
                <div class="input-box">
                    <input type="number" name="number" id="lucky-number" placeholder="Lucky Number?" min=1 max=100 required>
                </div>
                
                <div class="input-box">
                    <input type="number" name="amount" id="coins" placeholder="Enter coins" required>
                </div>
                <div class="submit">
                    <button onclick="bet()" class="bst"  type="submit" id="placeBet">Place Bet</button>
                </div>

      
        <div id="my-bets-title">
            <div>
                <h3>MY BETS</h3>
            </div>
        </div>
        <div class="kp horizontal-scroll-wrapper  rectangles">
            <%if(status===0){
                sum.map((bets)=>{%>

            <div> <%=bets.points%>/<%=bets.number%><img id="coins-img" src=" /user2/assets/money.svg" alt="credits"> </div>
            <% })%>
        </div>
        <%}else{%>
            <div>
                <h3>No bets placed</h3>
            </div>
            <%}%>
        
        <div>
        </div>

        </div>
         <script>
            function bet() {
                let checkError = [];
                var number = parseInt(document.getElementById("lucky-number").value);
                var points = parseInt(document.getElementById("coins").value);
                if (!points||points <=0 || !number || number <= 0 || number > 100) {
                   
                    if (number <= 0 || number > 100) {
                        let message = "please enter a valid bet number";
                    toastr.warning(message);
                    } else {
                        let message = "please enter the valid  coins";
                    toastr.warning(message);
                    }
                } else {          
                        axios.post(`<%=domain%>/user/makeBet`, {
                            'points': points,
                            'number': number
                        }).then(
                            (response) => {
                                console.log(response.data);
                                let reStatus = response.data;
                                if (parseInt(reStatus.code) < 400) {
                    toastr.warning(reStatus.name);            
                                } else if (parseInt(reStatus.code) >= 400) {                                   
                    toastr.warning(reStatus.name);
                                    checkError.push(reStatus.name);                                    
                                }else if (parseInt(reStatus.affectedRows) === 1) {
                                    toastr.success("Bet placed successfully!");
                                    setTimeout(function(){location.reload()}, 5000);                                    
                                }

                            },
                            (error) => {
                                console.log(error);
                                checkError.push(error.data.code);
                            }
                        );
                       
                
                    }
            }
        </script>
        <script src="/assets/axios.js"></script>
        <%- include("footer1") %>