<%- include("header") %>
    <style>
        .customp {
            position: absolute;
            padding-left: 13%;
            margin-top: -14%;
        }
        
        @media (max-width: 768px) {
            .customp {
                position: absolute;
                padding-left: 45%;
                margin-top: -53%;
            }
        }
    </style>
    <div id="content" class="main-content">

        <div class="user-profile ml-2 mr-2 layout-top-spacing">
            <div class="widget-content widget-content-area">

                <div class="user-profile user-info col-md-12 col-sm-12">
                    <div class="text-left ">
                        <img src="/assets/img/profile-3.jpg" alt="avatar">
                        <p class="">
                            <%= user.name%>
                        </p>
                    </div>
                    <div class="customp">
                        <p class="" style="color:#5c1ac3">Phone No :
                            <%= user.username%>
                        </p>
                        <p class="" style="color:#e2a03f">Total Points : <span class="badge outline-badge-warning"><%= user.points%></span> </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="user-profile ml-2 mr-2 layout-top-spacing">
            <div class="widget-content widget-content-area">
                <h4 class="mb-2 mt-2">User Transaction</h4>

                <div class="table-responsive mb-4">
                    <table id="style-3" class="table style-3  table-hover">
                        <thead>
                            <tr class="checkbox-column text-center">
                                <th class=" text-center">Date</th>
                                <th> Transaction</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% trans.map((tran)=>{ %>
                                <tr class="checkbox-column text-center">
                                    <td class=" text-center">
                                        <%= tran.date%>
                                    </td>
                                    <td>
                                        <% if(tran.status=='CREDITED'){%>
                                            <span style="background-color:#8dbf42" class="badge badge-success"><%=tran.status%></span>
                                            <%}else{%>
                                                <span style="
                                        color: #fff;
                                        background-color: #e2a03f;
                                        border: 0px;
                                    " class="badge badge-warning"><%=tran.status%></span>
                                                <%}%>
                                    </td>
                                    <td>

                                        <%=tran.points%>

                                    </td>


                                </tr>

                                <% })%>
                                    <% data.map((tran)=>{ %>
                                        <tr class="checkbox-column text-center">
                                            <td class=" text-center">
                                                <%= tran.date%>
                                            </td>
                                            <td>
                                                <% if(tran.status=='CREDITED'){%>
                                                    <span style="background-color:#8dbf42" class="badge badge-success"><%=tran.status%></span>
                                                    <%}else{%>
                                                        <span style="
                                        color: #fff;
                                        background-color: #e2a03f;
                                        border: 0px;
                                    " class="badge badge-warning"><%=tran.status%></span>
                                                        <%}%>
                                            </td>
                                            <td>

                                                <%=tran.points%>

                                            </td>


                                        </tr>

                                        <% })%>

                                            <% data1.map((tran)=>{ %>
                                                <tr class="checkbox-column text-center">
                                                    <td class=" text-center">
                                                        <%= tran.date%>
                                                    </td>
                                                    <td>
                                                        <% if(tran.status=='CREDITED'){%>
                                                            <span style="background-color:#8dbf42" class="badge badge-success"><%=tran.status%></span>
                                                            <%}else{%>
                                                                <span style="
                                    color: #fff;
                                    background-color: #e2a03f;
                                    border: 0px;
                                " class="badge badge-warning"><%=tran.status%></span>
                                                                <%}%>
                                                    </td>
                                                    <td>

                                                        <%=tran.points%>

                                                    </td>


                                                </tr>

                                                <% })%>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="user-profile ml-2 mr-2 layout-top-spacing">
            <div class="widget-content widget-content-area">
                <h4 class="mb-2 mt-2">Game history</h4>

                <div class="table-responsive mb-4">
                    <table id="style-3" class="table style-3  table-hover">
                        <thead>
                            <tr class="checkbox-column text-center">
                                <th class=" text-center">Game ID</th>
                                <th> Date</th>
                                <th> Number</th>
                                <th>Points</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>


                            <% history.map((tran)=>{ %>
                                <tr class="checkbox-column text-center">
                                    <td class=" text-center">
                                        <%= tran.game_id%>
                                    </td>
                                    <td class=" text-center">
                                        <%= tran.date%>
                                    </td>
                                    <td class=" text-center">
                                        <%= tran.number%>
                                    </td>
                                    <td class=" text-center">
                                        <%= tran.points%>
                                    </td>
                                    <td>
                                        <% if(tran.status==0){%>
                                            <span style="background-color:#8dbf42" class="badge badge-success">Ongoing</span>
                                            <%}else{%>
                                                <span style="
                                color: #fff;
                                background-color: #e2a03f;
                                border: 0px;
                            " class="badge badge-warning">CLOSED</span>
                                                <%}%>
                                    </td>



                                </tr>

                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>